body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    display: none;
}

.form-container.active {
    display: block;
}

.toggle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.toggle-container button {
    background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-container button.active {
    background-color: #0056b3;
}

.toggle-container button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type=submit] {
    background-color: #007BFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type=submit]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.error-messages {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 100%;
        max-width: 100%;
    }

    input[type=text], input[type=email], input[type=password], input[type=tel], input[type=file], button[type=submit] {
        padding: 10px;
        font-size: 14px;
    }
}
